.produto{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
  
    font-size: 10px;
    
}

   
.sacola-vazia{
    text-align: center;
}
body {
    margin: 0;
}

header {
    margin: 0;
}

.alinhar-topo {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.topo {
    display: flex;
    flex-wrap: wrap;
}

.topo {
    color: #fff;
    padding: 10px 0;
    text-align: center;
    justify-content: space-between;
}

.icones {
    width: 30px;
    height: 30px;
    padding: 3px;
}

.telefone {
    text-decoration: none;
    color: black;
    display: flex;
    width: 173px;
    justify-content: left;
    margin: 20px 0 0 20px;
    align-items: center;
    font-family: 'Questrial', sans-serif;
}

.cabecalho {
    padding: 5px;
    width: 200px;
    display: flex;
    margin: auto;
    justify-content: center;
    margin-left: 350px;
}

.login {
    display: grid;
    height: 15px;
    color: black;
    justify-content: center;
}

.login>a {
    text-decoration: none;
    color: black;
}

.login>a:hover {
    text-decoration: underline;
    color: #5271FF;
}

.icone-login-pesquisa {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    flex-direction: row;
    margin: 0;
    text-decoration: none;
    margin-right: 20px;
    font-family: 'Questrial', sans-serif;
}

.search-bar {
    width: 188px;
    height: 5px;
    padding: 15px;
    margin: 0;
    border: solid rgba(0, 0, 0, 0.596) 2px;
    border-radius: 50px;
    margin-top: 16px;
}

.header-links {
    margin-top: 15px;
    height: 36px;
}

.menu {
    display: none;
    position: absolute;
    top: 60px;
    right: 5px;
    width: 150px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    text-align: left;
    justify-content: center;
    font-family: 'Questrial', sans-serif;
}

.menu>ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu>ul>li {
    border-bottom: 1px solid #ccc;
}

.menu>ul>li>a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
}

.menu>ul>li>a:hover {
    background-color: rgb(241, 241, 241);
}

.faixa {
    display: block;
    height: 25px;
    background-image: linear-gradient(to right, #fffc3083, #FDFDFD);
    width: 945px;
    margin: auto;
    padding: 0;
    margin-top: 30px;
}

.faixa>p {
    margin: 0;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-family: 'Questrial', sans-serif;
}

.faixa>p>a {
    text-decoration: none;
    color: black;
    font-family: 'Cardo', sans-serif;
    margin-left: 4px;
}

.faixa-2 {
    display: block;
    height: 25px;
    background-image: linear-gradient(to right, #FDFDFD, #fffc3083);
    width: 945px;
    margin: auto;
    padding: 0;
}

nav {
    width: 945px;
    margin: auto;
}

nav>ul>li>a:hover {
    cursor: pointer;
    text-decoration: underline rgba(0, 0, 0, 0.384) 3px;
}

nav>ul {
    text-align: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav>ul>li {
    display: inline-flex;
    width: 100%;
}

nav>ul>li>a {
    display: block;
    color: black;
    text-decoration-line: none;
    margin: 0;
    background-color: white;
    padding: 10px;
    width: 105px;
    border-radius: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
}

.esconder {
    display: none;
}

.nunito {
    font-family: 'Nunito', sans-serif;
}

.oswald {
    font-family: 'Oswald';
}
.textosprod{
    display: flex;
    flex-direction: row;
    gap: 180px;
}
.prodf{    
    display: flex;  
    flex-direction: row;

}
.prodf img{
    width: 50px;
    border: #ccc;
    border-radius: 10px;
}
.quantidaD{
    margin-left: 30px;
    
}
.preço{
    margin-left: 150px;;
    font-size: 10px;
}
.cep2{
    border-radius: 50px;
    height: 23px;
    border-color: #b9bab4;
    
}
.ok2{
    border-radius: 5px;
    height: 23px;
    border-color: #b9bab4;
    
}
.nunito{
    font-family: 'Nunito', sans-serif;
}
.oswald{
    font-family: 'Oswald';
}

.subtotal {
    display: inline-block;
    justify-content: space-between;
    align-items: center;
}

footer {
    background-color: #fff;
    text-align: center;
    padding: 10px;
    width: 100%;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    width: 945px;
}
.finalizar {
    display: inline-block;
    border: solid #b9bab4;
    border-radius: 8px;
    padding: 50px;
    padding-bottom: 25px;
    text-align: center;
    margin-top: 50px;
    background-color: #fff;

}
a.continue {
    text-decoration: none;
    color: black;
}
a.continue:hover {
    text-decoration: underline;
    color: #b9bab4;
}
.fcompra {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    background-color: #b9bab4;
    border: none;
}
.fcompra:hover {
    background-color: #4d4d4b;
    border: none;
    color: white;
    cursor: pointer;
}
.fretegratis {
    border-radius: 10px;
    border: solid #b9bab4;
    width: 300px;
    padding: 5px;
}


.posicaodiv {
    width: 500px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    padding: 30px;
    margin-top: 10px;
    border-radius: 10px;

}


.separagratis {
    margin-left: 70px;   
}

.ncep {
    text-decoration: none;
    color: black;
}
.ncep:hover {
    text-decoration: underline;
    color: blue;

}

.cep2 {
    padding: 3px;
}
.sacola-vazia{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 10px;
    padding-bottom: 20px;
    width: 945px;
}

.tam-font{
    font-size: 15px;
}

.segundadiv{
    background-color: #f8f8f8;
    text-align: center;
    margin-left: 10px;
}
.infoprod{
    font-size: 10px;
}
